/* Flexbox mai vertical axis and horizontal axis hai 
For horizontal axis we use justify-content
For vertical axis we use align-items
We combine these both to style our elements */

.main {
  background-color: black;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: start;
  align-items: end;
}

.inside {
  background-color: blue;
  height: 100px;
  width: 100px;
}
